.Home {
}

.Home__search_input {
  position: relative;
}

.Home__search_input_front {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.Home__categories {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.Home__category {
  width: 35px;
  min-height: 45px;
  margin: 8px 12px;
  font-size: 12px;
  text-align: center;
}

.Home__category img {
  width: 35px;
  margin-bottom: 4px;
}

.Home__products_container {
  height: 100%;
}

.Home__products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 8px;
  padding: 8px 12px;
}

.Home__product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(14px, auto);
  grid-gap: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
