.NavBar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
}

.NavBar__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  box-shadow: rgb(108 114 124 / 16%) 0px -2px 4px 0px;
}

.NavBar__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar__link-active {
  background-color: #17b3ac;
}

.NavBar__link-inactive {
  background-color: #ffffff;
}

.NavBar__links a {
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
}
