.App {
  max-width: 415px;
  height: calc(100vh - 56px);
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  overflow: hidden;
}

.App__contents {
  height: 100%;
  overflow-y: auto;
}
