@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}
a {
  text-decoration: none;
}
.loading-state {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  background-color: #b8b8b8;
  opacity: 0.3;
}
::placeholder {
  color: #333333;
  opacity: 0.5;
}
